@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Infnet Music!</h1>
    <p>O lugar onde a música acontece. Salve suas músicas e bandas favoritas.</p>
</div>
